.box-model {
  margin: 20px;
  border: 10px solid red;
  padding: 20px;
  height: 100px;
  width: 100px;
  background: blue;
}
#sample-id {
  margin-top: 50px;
  height: 100px;
  width: 100px;
  background-color: greenyellow;
}
